<?xml version="1.0"?>
<configuration xmlns="urn:newrelic-config" agentEnabled="true">
	<highSecurity enabled="true" />
	<service licenseKey="b8f18c786bebaacaac5344c65a437846cac79f82">
		<proxy host="proxy-aus.dell.com" port="80">
		</proxy>
	</service>
	<application></application>
	<log level="all"/>
	<transactionTracer enabled="true"
					   transactionThreshold="apdex_f"
					   stackTraceThreshold="500"
					   recordSql="obfuscated"
					   explainEnabled="false"
					   explainThreshold="500" />
	<crossApplicationTracer enabled="true"/>
	<errorCollector enabled="true">
		<ignoreErrors>
			<exception>System.IO.FileNotFoundException</exception>
			<exception>System.Threading.ThreadAbortException</exception>
		</ignoreErrors>
		<ignoreStatusCodes>
			<code>401</code>
			<code>404</code>
		</ignoreStatusCodes>
	</errorCollector>
	<browserMonitoring autoInstrument="true" />
	<threadProfiling>
		<ignoreMethod>System.Threading.WaitHandle:InternalWaitOne</ignoreMethod>
		<ignoreMethod>System.Threading.WaitHandle:WaitAny</ignoreMethod>
	</threadProfiling>
	<system.web>
		<httpCookies httpOnlyCookies="true" requireSSL="true" />
	</system.web>
</configuration>